<div class="container">
<div class="row">
  <!--<div class="col-6">
    <h3>Quiz Application</h3>
  </div> -->
  <div class="container" id="selectquiz">
    <section> Select Quiz: </section> &nbsp; &nbsp;
    <select [(ngModel)]="quizName" (change)="loadQuiz(quizName)" style="width: 200px; align-content: center;" class="select-css">
      <option *ngFor="let quiz of quizes" [value]="quiz.id" style=" border-width: 200px; border-color: black;">{{quiz.name}}</option>
    </select>
  </div>
</div>
<div id="quiz" class="p-3 mb-2 bg-dark text-light">
  <h2 class="text-center font-weight-normal">{{quiz.name}}</h2>
  <hr />

  <div *ngIf="mode=='quiz' && quiz">
    <div *ngFor="let question of filteredQuestions;">
      <div class="badge badge-info">Question {{pager.index + 1}} of {{pager.count}}.</div>
      <div *ngIf="config.duration" class="badge badge-info float-right" style="color: whitesmoke;">Time: {{ellapsedTime}} / {{duration}}</div>
      <h3 class="font-weight-normal">{{pager.index + 1}}.
        <span [innerHTML]="question.name"></span>
      </h3>
      <div class="row text-left options" class="p-3 mb-2 bg-light text-dark">
        <div class="col-6" *ngFor="let option of question.options">
          <div class="option">
            <label class="font-weight-normal" [attr.for]="option.id">
              <input id="{{option.id}}" type="checkbox" [(ngModel)]="option.selected" (change)="onSelect(question, option);" /> {{option.name}}
            </label>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="text-center">
      
      <button class="btn btn-warning" *ngIf="config.allowBack" (click)="goTo(pager.index - 1);">Previous</button> &nbsp; &nbsp;
      <button class="btn btn-primary" (click)="goTo(pager.index + 1);">Next</button>
      
    </div>
  </div>

  <div class="row text-center" *ngIf="mode=='review'">
    <div class="col-4 cursor-pointer" *ngFor="let question of quiz.questions; let index = index;">
      <div (click)="goTo(index)" class="p-3 mb-2 {{ isAnswered(question) == 'Answered'? 'bg-info': 'bg-danger' }}">{{index + 1}}. {{ isAnswered(question) }}</div>
    </div>
  </div>
  <div class="result" *ngIf="mode=='result'">
    <h2>Your Quiz Result</h2>
    <div style="text-align: center;position: relative;left:45%;">
      <h1 style="color:antiquewhite; border: 1px solid white;margin-bottom: 10px; border-radius: 5px;width: fit-content;padding: 20px 40px 20px 40px;">{{points}}/10</h1>
    </div>
    <br>
    <div *ngFor="let question of quiz.questions; let index = index">
      <div class="result-question">
        <h5 style="color: black;">{{index + 1}}. {{question.name}}</h5>
        <div class="row">
          <div class="col-6" *ngFor="let Option of question.options" style="color: black;">
            <input id="{{Option.id}}" type="checkbox" disabled="disabled" [(ngModel)]="Option.selected" />{{Option.name}}
          </div>
        </div>
        <div class="p-1 m-2 alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer is {{isCorrect(question)}} </div>
      </div>
    </div>
    <h5 class="alert alert-light text-center" style="color: black;">You may close this window now.</h5>
  </div>
  <hr />
  <div *ngIf="mode!='result'" class="container" style="display: flex; align-items: center; justify-content: center;">
    <button class="btn btn-primary" (click)="mode = 'quiz'">Quiz</button> &nbsp; &nbsp;
    <button class="btn btn-danger" (click)="mode = 'review'">Review</button> &nbsp; &nbsp;
    <button class="btn btn-success" (click)="onSubmit();">Submit Quiz</button> 
  </div>
</div>
</div>
<br><br>