<div class="header">
    <div class="main">
        <h1 style="color:tomato ; font-family:'Montserrat',sans-serif;"> About Us..</h1>
        <p>
            We entertain and educate users with a quick quiz on the given topics.
            Mark the correct answers and the website will automatically assign
            the participants with results so that users can assess themselves.
            We are offering you, the audience a fun and 
            unique experience. Incentivize the participation to attract more participants.
            You can send a message to us through the contact form, you can also suggest some
            ideas if you have any, which can be helpful for us in improving the features of this application.
            We hope have a smooth ride while taking this quiz and enjoy the experience. Happy Quizzing
        </p>
    </div>
</div>