@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

.carousel-item{
    text-align: center;
}

.carousel-item img{
    margin: 0 auto;
    object-fit: cover;
}

